.logo {
    overflow: hidden;
    height: 5rem;
    text-align: center;
    background: rgb(255, 229, 228);
}

.logo>img {
    width: 20rem;
    height: 5rem;
    object-fit: cover;
}

.add_event_btn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    border: 0;
}

.add_event_btn>svg {
    color: rgb(6, 133, 55);
    font-size: 4rem;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    cursor: pointer !important;
    background: #80808029 !important;
}

.fc-view-harness .fc-view-harness-active, .fc-daygrid-body .fc-daygrid-body-unbalanced, .fc .fc-scroller-harness-liquid  {
    height: 100vh !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    background: #236b8531;
    margin: 0 !important;
    padding: 1rem !important;
}


.fc .fc-scrollgrid-liquid {
    background: #516bef1a;
}

@media screen and (max-width: 700px) {
    .fc .fc-toolbar.fc-header-toolbar {
        padding: 0 !important;
    }
}