.event_info_modal {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ReactModal__Content {
    width: 25rem;
    background: rgba(248, 234, 233, 0.932) !important;
}
.event_info_modal>h3 {
    font-size: 2rem;
}

.event_info_modal>p {
    font-size: 1.3rem;
}

@media screen and (max-width: 700px) {
    .ReactModal__Content {
        margin-top: 5rem;
        height: 70vh;
        width: 80vw;
        inset: 0 !important;
    }
}
