.ReactModal__Content {
    display: flex;
    justify-content: center;
    inset: 30% !important;
    position: relative;
}

.ReactModal__Overlay {
    background-color: rgb(166 166 166 / 81%) !important;
}

.submit_btn {
    width: 100%;
    margin-top: 1rem;
    background: rgb(27, 146, 33);
    border: 1px solid chartreuse;
    padding: 0.5rem 0;
    color: white;
    cursor: pointer;
}

form {
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

form>input, .form-control {
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0rem;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background: rgba(238, 232, 232, 0.342);
}

.rdtPicker {
    position: relative;
    z-index: 2;
}


@media screen and (max-width: 700px) {
    .ReactModal__Content {
        inset: 10% !important;
    }
}